<!--The content below is only a placeholder and can be replaced.-->
<app-input-control [myLabel]="'Label de mi input'" [(ngModel)]="myText">
</app-input-control>

<form [formGroup]="pruebaForm">
  <app-input-control
    [myLabel]="'formcontrolname'"
    formControlName="pruebaInput"
    [disabled]="disabledVar"
  >
  </app-input-control>
</form>
<div><button (click)="remove()">ERASE</button></div>
<div><button (click)="disa()">DISABLED</button></div>
<div>VALID:{{ pruebaForm.get('pruebaInput').valid }}</div>
<div>TOUCHED:{{ pruebaForm.get('pruebaInput').touched }}</div>
<div>DIRTY:{{ pruebaForm.get('pruebaInput').dirty }}</div>
<div>DISABLED:{{ pruebaForm.get('pruebaInput').disabled }}</div>
