<!--The content below is only a placeholder and can be replaced.-->
<div class="ui-g h-100">
  <form [formGroup]="pruebaForm">
    <app-input-control [myLabel]="'label'" formControlName="pruebaInput">
    </app-input-control>
    <div>
      VALID:{{ pruebaForm.get('pruebaInput').valid }},TOUCHED:{{
        pruebaForm.get('pruebaInput').touched
      }},DIRTY:{{ pruebaForm.get('pruebaInput').dirty }},DISABLED:{{
        pruebaForm.get('pruebaInput').disabled
      }}
    </div>
    <div><button (click)="disa()">DISABLED</button></div>

    <app-combo-empresa
      formControlName="empresa"
      [nif]="'B58368069'"
      (selectElement)="onSelect($event)"
      (noSelectElement)="noSelect($event)"
    ></app-combo-empresa>
    <div>
      VALID:{{ pruebaForm.get('empresa').valid }},TOUCHED:{{
        pruebaForm.get('empresa').touched
      }},DIRTY:{{ pruebaForm.get('empresa').dirty }}
    </div>

    <!-- <app-combo-control formControlName="pruebaCombo"></app-combo-control>
    <div>
      VALID:{{ pruebaForm.get('pruebaCombo').valid }},TOUCHED:{{
        pruebaForm.get('pruebaCombo').touched
      }}
    </div> -->
    <div>COMBO1</div>
    <app-combo1 formControlName="prueba"></app-combo1>
    <div>
      VALID:{{ pruebaForm.get('prueba').valid }},TOUCHED:{{
        pruebaForm.get('prueba').touched
      }}
    </div>
    <div>COMBO2</div>
    <app-combo2 formControlName="prueba2"></app-combo2>
    <div>
      VALID:{{ pruebaForm.get('prueba2').valid }},TOUCHED:{{
        pruebaForm.get('prueba2').touched
      }}
    </div>
  </form>
  <div><button (click)="remove()">RESET FORM</button></div>
</div>
