<!--The content below is only a placeholder and can be replaced.-->
<div class="ui-g h-100">
  <form [formGroup]="pruebaForm">
    <app-input-control [myLabel]="'label'" formControlName="pruebaInput">
    </app-input-control>
    <div>
      VALID:{{ pruebaForm.get('pruebaInput').valid }},TOUCHED:{{
        pruebaForm.get('pruebaInput').touched
      }},DIRTY:{{ pruebaForm.get('pruebaInput').dirty }},DISABLED:{{
        pruebaForm.get('pruebaInput').disabled
      }}
    </div>
    <div><button (click)="disa()">DISABLED</button></div>
    <br />
    <app-combo-control formControlName="pruebaCombo"></app-combo-control>
    <div>
      VALID:{{ pruebaForm.get('pruebaCombo').valid }},TOUCHED:{{
        pruebaForm.get('pruebaCombo').touched
      }}
    </div>
  </form>
  <div><button (click)="remove()">ERASE</button></div>
</div>
